services:
  - type: web
    name: biendongsodu
    env: python
    region: singapore
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    
    # 'disks' và 'envVars' phải ngang hàng với 'name', 'env', v.v.
    disks:
      - name: data
        # --- SỬA LỖI Ở ĐÂY ---
        # 'mountPath' và 'sizeGB' phải thụt vào
        # so với dòng '- name: data'
        mountPath: /data
        sizeGB: 1
        
    envVars:
      - key: PYTHON_VERSION
        value: 3.10
      - key: admin
        fromAdmin: true
