services:
  - type: web
    name: saldo-bot
    env: python
    plan: free # BẮT BUỘC: Để dùng gói Miễn Phí

    # Lệnh cài đặt thư viện
    buildCommand: "pip install -r requirements.txt"
    
    # Lệnh chạy ứng dụng
    startCommand: "gunicorn app:app"
    
    # Biến môi trường
    envVars:
      - key: PYTHON_VERSION
        value: "3.11.9" # Sửa lỗi phiên bản 3.11
      
      # QUAN TRỌNG: Tên (Key) BẮT BUỘC phải là ADMIN_PASSWORD
      # Bạn hãy vào tab "Environment" trên Render và tự đặt GIÁ TRỊ (Value)
      - key: ADMIN_PASSWORD
