services:
  - type: web
    name: biendongsodu
    env: python
    region: singapore
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    disks:  # Đây là phần sửa, disks phải nằm trong service
      - name: data
        mountPath: /data
        sizeGB: 1
    envVars:  # envVars cũng phải nằm trong service
      - key: PYTHON_VERSION
        value: 3.10
      - key: admin
        fromAdmin: true
