services:
  - type: web
    name: biendongsodu
    env: python
    
    # Lệnh cài đặt thư viện
    buildCommand: "pip install -r requirements.txt"
    
    # Lệnh chạy ứng dụng
    startCommand: "gunicorn app:app"
    
    # Biến môi trường
    envVars:
      - key: PYTHON_VERSION
        value: "3.11" # <--- Di chuyển vào đây
      - key: adminlinhdz
        value: "adminlinhdz"
