services:
  - type: web
    name: biendongsodu
    env: python
    plan: free # <--- THÊM DÒNG NÀY ĐỂ DÙNG GÓI MIỄN PHÍ
    
    # Lệnh cài đặt thư viện
    buildCommand: "pip install -r requirements.txt"
    
    # Lệnh chạy ứng dụng
    startCommand: "gunicorn app:app"
    
    # Biến môi trường
    envVars:
      - key: PYTHON_VERSION
        value: "3.11.9"
      - key: adminlinhdz
        # Bạn nên vào tab "Environment" trên Render để đặt giá trị này
        value: "adminlinhdz"
