services:
  - type: web
    name: biendongsodu
    env: python
    region: singapore
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    
    # --- SỬA LỖI ---
    # 'disks' và 'envVars' phải được thụt lề vào trong,
    # ngang hàng với 'name', 'env', 'startCommand'...
    
    disks:
      - name: data
        mountPath: /data
        sizeGB: 1
        
    envVars:
      - key: PYTHON_VERSION
        value: 3.10
      - key: admin
        # 'fromAdmin: true' sẽ khiến Render HỎI BẠN
        # nhập đường dẫn bí mật lúc deploy.
        fromAdmin: true
