services:
  - type: web
    name: biendongsodu
    env: python
    region: singapore
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    disks:
      - name: data
        mountPath: /data
        sizeGB: 1
    envVars:
      - key: PYTHON_VERSION
        value: 3.10
      - key: SECRET_PATH
        fromAdmin: true
