services:
  - type: web
    name: biendongsodu
    env: python
    region: singapore
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"


# 'envVars' cũng phải nằm ở cấp cao nhất
envVars:
  - key: PYTHON_VERSION
    value: 3.10
  - key: admin
    fromAdmin: true
