services:
  - type: web
    name: saldo-bot
    env: python
    pythonVersion: "3.11"
    
    # Lệnh cài đặt thư viện
    buildCommand: "pip install -r requirements.txt"
    
    # Lệnh chạy ứng dụng
    startCommand: "gunicorn app:app"
    
    # Biến môi trường
    envVars:
      - key: adminlinhdz
        # Đặt giá trị cho key của bạn ở đây
        # Hoặc tốt hơn là vào tab "Environment" trên Render để cài đặt
        value: "adminlinhdz"
